.button {
  background: #dc4ddd;
  box-shadow: 4px 4px 24px #dc4ddd;
  border: 0;
  border-radius: 12px;
  padding: 16px 32px;

  font-family: 'Furore', sans-serif;
  font-size: 24px;

  color: #501e9d;
  transition: 0.1s;

  &:hover {
    cursor: pointer;
  }

  &:has(.spinner) {
    pointer-events: none !important;
    cursor: default;
  }
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.spinner {
  content: '';
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid transparent;
  border-top-color: #501e9d;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}
