.button {
  cursor: pointer;
  background-color: #d54bd6;
  font-size: 24px;
  font-family: "Furore", sans-serif;
  color: #501e9d;
  border: 0;
  padding: 10px 20px;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.spinner {
  content: "";
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid transparent;
  border-top-color: #501e9d;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}
