@import url("https://fonts.cdnfonts.com/css/furore");

body {
  background-color: #fdef6d;
  height: 100vh;
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  h1 {
    margin-top: 100px;
    margin-bottom: 0;
    color: #501e9d;
  }

  p {
    font-family: Andale Mono, AndaleMono, monospace;
  }
}

.card-container {
  display: grid;
  align-items: center;

  app-poly-card {
    z-index: 1;
    grid-area: 1/1;
  }

  .globe {
    grid-area: 1/1;
    margin: auto;
    animation: rotation 10s infinite linear;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg) scale(1.25);
  }
  to {
    transform: rotate(359deg) scale(1.25);
  }
}

.play-button {
  cursor: pointer;
  background-color: #d54bd6;
  font-size: 24px;
  font-family: "Furore";
  color: #501e9d;
  border: 0;
  padding: 10px 20px;

  &:disabled,
  &[disabled] {
    background-color: #d64bd67d;
    color: #511e9d68;
  }
}
