@import url("https://fonts.cdnfonts.com/css/furore");

body {
  background-color: #fdef6d;
  height: 100vh;
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  h1 {
    font-family: "Furore";
    color: #501e9d;
  }

  p {
    font-family: Andale Mono, AndaleMono, monospace;
  }
}
