@import url('https://fonts.cdnfonts.com/css/furore');

body {
  background-color: #501e9d;
  height: 100vh;
  margin: 0;
}

h1 {
  text-transform: uppercase;
  font-family: 'Furore', sans-serif;
  color: #fdef6d;
  font-size: 128px;
  letter-spacing: 6px;
  border: 2px;
  stroke: #e8ec3a;
  stroke-width: 1px;
  -webkit-text-shadow: 6px 6px 24px #dc4ddd;
  text-shadow: 6px 6px 24px #dc4ddd;
}

h2 {
  text-transform: uppercase;
  font-family: 'Furore', sans-serif;
  font-size: 128px;
  text-shadow: 4px 4px 24px #dc4ddd;
  -webkit-text-shadow: 4px 4px 24px #dc4ddd;
  color: #fdef6d;
}

h3 {
  text-transform: uppercase;
  font-size: 48px;
  color: #d54bd6;
  text-shadow: 4px 4px 24px #d54bd6;
  -webkit-text-shadow: 4px 4px 24px #d54bd6;
}

h4 {
  font-family: Andale Mono, AndaleMono, monospace;
  font-size: 24px;
}

p {
  font-family: Andale Mono, AndaleMono, monospace;
  font-size: 24px;
  text-align: center;
  color: #f5f5f5;
}
