<div
  class="card"
  [ngClass]="{ 'card-transition': mouseNotOnCard }"
  [ngStyle]="{
    transform: 'rotateY(' + rotateX + 'deg) rotateX(' + rotateY + 'deg)'
  }"
>
  <div #card class="card-content">
    <div class="card-face card-front">
      <div #polymolyTitle class="title-text">
        <svg>
          <path
            id="curve"
            d="m 30 56 C 30 56 80 36 152.5 36 C 225 36 265 56 265 56"
          />
          <text>
            <textPath xlink:href="#curve">Polymoly</textPath>
          </text>
        </svg>
      </div>
      <div class="illustration">
        <div #eclipseIllustration class="eclipse"></div>
        <img
          #starIllustration
          class="star"
          src="../../assets/star.svg"
          alt="Star"
        />
        <img
          #polymanIllustration
          class="polyman"
          src="../../assets/poly-man.svg"
          alt="Polyman"
        />
      </div>
    </div>
    <div class="card-face card-back">
      <h1 #cardTitle>You are lucky</h1>
      <p>Move to vacation <br />and do your holiday dance!</p>
    </div>
  </div>
</div>
