h1 {
  font-family: "Furore";
  color: #fdef6d;
}

.card {
  width: 620px;
  height: 360px;
  background-color: #dc4ddd;
  border-radius: 20px;
}

.illustration {
  height: 50%;
  width: 50%;
}

.eclipse {
  width: 100%;
  height: 100%;
  background-color: #50bedc;
  border-radius: 50%;
  outline: 2px solid #dc4ddd;
  outline-offset: -8px;
}
