.card {
  transform-style: preserve-3d;
  perspective: 2000px;
}

.card-transition {
  transition: transform 1s;
}

.card-content.is-flipped {
  transform: translateX(100%) rotateY(-180deg);
}

.card-content.is-loading {
  .star {
    animation: identifier 2s infinite ease-in-out;

    @keyframes identifier {
      from {
        transform: rotate(0deg) translateZ(50px);
      }
      to {
        transform: rotate(359deg) translateZ(50px);
      }
    }
  }
}

.card-content {
  width: 620px;
  height: 360px;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: center left;
  display: grid;
}

.card-face {
  grid-area: 1/1;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}
