<div
  class="card"
  [ngClass]="{ 'card-transition': mouseNotOnCard }"
  [ngStyle]="{
    transform: 'rotateY(' + rotateX + 'deg) rotateX(' + rotateY + 'deg)'
  }"
>
  <div #card class="card-content" [ngClass]="{ 'is-loading': isLoading }">
    <div class="card-face card-front">
      <div class="title-text">
        <svg>
          <path
            id="curve"
            d="m 30 56 C 30 56 81.5 36 142.5 36 C 203.5 36 255 56 255 56"
          />
          <text>
            <textPath xlink:href="#curve">Polymoly</textPath>
          </text>
        </svg>
      </div>
      <div class="illustration">
        <div class="eclipse"></div>
        <img class="star" src="../../assets/star.svg" alt="Star" />
        <img class="polyman" src="../../assets/poly-man.svg" alt="Polyman" />
      </div>
    </div>
    <div class="card-face card-back">
      <h1>{{ cardTitle }}</h1>
      <p>{{ cardDescription }}</p>
    </div>
  </div>
</div>
