<section id="home" class="home">
  <img class="home__top-blob" src="../assets/blob-home.svg" alt="blob-homepage" />
  <img class="home__top-line" src="../assets/home-page-top-line.svg" alt="blob-homepage" />
  <nav class="navbar">
    <ul>
      <li>
        <a (click)="scrollToAbout()">About</a>
      </li>
    </ul>
  </nav>
  <div class="introduction">
    <h1 class="introduction__title">Polymoly</h1>
    <p class="introduction__text">
      Polymoly elevates your Monopoly experience with AI-generated challenges. Choose between the classic 'Normal' deck or the 'Explicit' version for a fun twist. No shuffling, no missing cards—just
      click and get a fresh challenge every time!
    </p>
    <button class="primary-button button__decks" (click)="scrollToDecks()">Let's start</button>
  </div>
  <img class="home__end-line" src="../assets/home-page-end-line.svg" alt="home-page-end-line" />
  <img class="home__end-blob" src="../assets/home-page-end.svg" alt="home-page-end" />
</section>
<section id="card-decks" class="card-decks">
  <div *ngIf="isSelectingDeck; else drawCard">
    <h4 class="content__slogan">Let's shuffle things up a bit!</h4>
    <h3 class="content__choose-title">Choose your weapon of choice</h3>

    <div class="decks">
      <div class="deck">
        <app-front-poly-card></app-front-poly-card>
        <button class="primary-button deck__select" (click)="selectDeck()">Select</button>
      </div>
      <div class="deck">
        <app-front-poly-card [isExplicit]="true"></app-front-poly-card>
        <button class="primary-button deck__select deck__select--explicit" (click)="selectDeck(true)">Select</button>
      </div>
    </div>
  </div>
  <ng-template #drawCard>
    <app-draw-card [isExplicit]="isExplicit" (returnToDeck)="returnToDeck()"></app-draw-card>
  </ng-template>
</section>
<section id="about" class="about">
  <img class="about__start-blob" src="../assets/about-page-start.svg" alt="about-page-start" />
  <h2 class="about__title">About</h2>
  <p class="about__text">
    Polymoly is designed for those who want to enhance their Monopoly experience without the hassle. We aim to create a seamless, engaging experience by using AI to generate unique tasks for every
    game. From standard Monopoly challenges to more creative tasks, Polymoly’s mission is to make the game more fun, dynamic, and accessible.<br /><br />With no need to sign up or log in, users can
    instantly select their preferred deck and jump straight into the action. Polymoly brings endless possibilities to every round, adapting to your preferences with every click. Let the AI create the
    challenge while you focus on winning!
  </p>
</section>
