h1 {
  font-family: "Furore", sans-serif;
  color: #fdef6d;
  font-size: 128px;
  letter-spacing: 6px;
  border: 2px;
  stroke: #e8ec3a;
  stroke-width: 1px;
  -webkit-text-shadow: 6px 6px 24px #dc4ddd;
  text-shadow: 6px 6px 24px #dc4ddd;
}

h2 {
  font-family: "Furore", sans-serif;
  font-size: 128px;
  text-shadow: 4px 4px 24px #dc4ddd;
  color: #fdef6d;
}

h3 {
  font-size: 48px;
  color: #d54bd6;
  text-shadow: 4px 4px 24px #d54bd6;
}

h4 {
  font-family: Andale Mono, AndaleMono, monospace;
  font-size: 24px;
}

p {
  font-family: Andale Mono, AndaleMono, monospace;
  font-size: 24px;
  text-align: center;
  color: #f5f5f5;
}

.primary-button {
  background: #dc4ddd;
  box-shadow: 4px 4px 24px #dc4ddd;
  border: 0;
  border-radius: 12px;
  padding: 16px 32px;

  font-family: "Furore", sans-serif;
  font-size: 24px;

  color: #fdef6d;
  transition: 0.1s;

  &:hover {
    cursor: pointer;
  }
}

.navbar {
  position: absolute;
  right: 56px;
  top: 56px;

  @media (max-width: 960px) {
    right: 32px;
    top: 32px;
  }

  @media (max-width: 680px) {
    right: 24px;
    top: 24px;
  }

  ul {
    list-style-type: none;
    margin: 0;
  }

  a {
    font-size: 32px;

    @media (max-width: 960px) {
      font-size: 24px;
    }

    @media (max-width: 680px) {
      top: 16;
    }

    color: #fdef6d;
    cursor: pointer;
  }
}

.home {
  position: relative;

  &__top-blob {
    max-width: 100%;
    position: absolute;
    left: -20%;
    top: -60%;
    z-index: -1;

    @media (max-width: 960px) {
      top: -40%;
    }

    @media (max-width: 680px) {
      top: -30%;
    }
  }

  &__top-line {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;

    @media (max-width: 960px) {
      width: 240px;
    }

    @media (max-width: 680px) {
      width: 176px;
    }
  }

  &__end-blob {
    position: absolute;
    bottom: -1px !important;
    left: 0;
    width: 100%;
  }

  &__end-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.introduction {
  padding: 196px 0 320px 0;

  @media (max-width: 960px) {
    padding: 160px 0 240px 0;
  }

  @media (max-width: 680px) {
    padding: 134px 0 200px 0;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  &__title {
    margin: 0;

    @media (max-width: 960px) {
      font-size: 96px;
    }

    @media (max-width: 680px) {
      font-size: 56px;
    }
  }

  &__text {
    max-width: 880px;
    margin: 0;

    @media (max-width: 960px) {
      font-size: 16px;
      max-width: 640px;
    }

    @media (max-width: 680px) {
      font-size: 12px;
      padding: 0 56px;
    }
  }
}

.home__end-blob {
  position: absolute;
  bottom: 0;
}

.card-decks {
  background-color: #fdef6d;
  padding: 80px 144px 0 144px;

  @media (max-width: 960px) {
    padding: 64px 112px 0 112px;
  }

  @media (max-width: 680px) {
    padding: 72px 72px 0 72px;
  }
}

.content__slogan {
  margin-top: 0px;
  margin-bottom: 16px;

  @media (max-width: 960px) {
    font-size: 20px;
  }

  @media (max-width: 680px) {
    font-size: 16px;
  }
}

.content__choose-title {
  margin-top: 0px;
  margin-bottom: 72px;

  @media (max-width: 960px) {
    font-size: 40px;
  }

  @media (max-width: 680px) {
    font-size: 32px;
  }
}

.decks {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1560px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;
  }

  @media (max-width: 960px) {
    scale: 0.9;
    margin-top: -40px;
  }

  @media (max-width: 680px) {
    margin-top: -160px;
    margin-bottom: -96px;
    scale: 0.7;
  }

  @media (max-width: 480px) {
    margin-top: -260px;
    margin-bottom: -200px;
    scale: 0.5;
  }
}

.deck {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__select {
    margin: 0 96px;
    position: relative;
    z-index: 1;

    &--unavailable {
      background-color: #8d55d6;
      box-shadow: 4px 4px 24px #8d55d6;

      &:hover {
        cursor: default;
      }
    }
  }
}

.about {
  padding: 240px 144px 144px 144px;
  position: relative;
  background-color: #501e9d;

  &__start-blob {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
  }

  @media (max-width: 960px) {
    padding: 160px 112px 112px 112px;
  }

  @media (max-width: 680px) {
    padding: 120px 72px 72px 72px;
  }

  &__title {
    margin: 0;
    margin-bottom: 56px;

    @media (max-width: 960px) {
      font-size: 96px;
    }

    @media (max-width: 680px) {
      font-size: 56px;
    }
  }

  &__text {
    margin: 0;
    max-width: 880px;
    text-align: left;

    @media (max-width: 960px) {
      font-size: 16px;
      max-width: 640px;
    }

    @media (max-width: 680px) {
      font-size: 12px;
    }
  }
}
