<section id="home" class="home">
  <!-- <img class="blob" src="../assets/blob-home.svg" alt="blob-homepage" />
  <img
    class="home-page-top-line"
    src="../assets/home-page-top-line.svg"
    alt="blob-homepage"
  /> -->
  <nav class="navbar">
    <ul>
      <li>
        <a (click)="scrollToAbout()">About</a>
      </li>
    </ul>
  </nav>
  <div class="introduction">
    <h1 class="introduction__title">Polymoly</h1>
    <p class="introduction__text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
    <button class="primary-button" (click)="scrollToDecks()">
      Let's start
    </button>
  </div>
  <!-- <img
    class="home-page-end-line"
    src="../assets/home-page-end-line.svg"
    alt="home-page-end-line"
  />
  <img
    class="home-page-end-blob"
    src="../assets/home-page-end.svg"
    alt="home-page-end"
  /> -->
</section>
<section id="card-decks" class="card-decks">
  <div *ngIf="isSelectingDeck; else drawCard">
    <div class="content">
      <h4 class="content__slogan">Let's shuffle things up a bit!</h4>
      <h3 class="content__choose-title">Choose your weapon of choice</h3>
    </div>

    <div class="decks">
      <div class="deck">
        <app-front-poly-card></app-front-poly-card>
        <button class="primary-button deck__select" (click)="selectDeck()">
          Select
        </button>
      </div>
      <div class="deck">
        <app-empty-poly-card></app-empty-poly-card>
        <button
          class="primary-button deck__select deck__select--unavailable"
          (click)="selectDeck()"
          disabled
        >
          Unavailable
        </button>
      </div>
    </div>
  </div>
  <ng-template #drawCard>
    <app-draw-card (returnToDeck)="returnToDeck()"></app-draw-card>
  </ng-template>
</section>
<section id="about" class="about">
  <!-- <img
    class="about-page-start-blob"
    src="../assets/about-page-start.svg"
    alt="about-page-start"
  /> -->
  <h2 class="about__title">About</h2>
  <p class="about__text">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. <br /><br />Lorem Ipsum is simply dummy text of
    the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a
    galley of type and scrambled it to make a type specimen book.
    <br /><br />Lorem Ipsum is simply dummy text of the printing and typesetting
    industry.
  </p>
</section>
