<section id="home" class="home">
  <img class="blob" src="../assets/blob-home.svg" alt="blob-homepage" />
  <img
    class="home-page-top-line"
    src="../assets/home-page-top-line.svg"
    alt="blob-homepage"
  />
  <nav class="navbar">
    <ul class="navlist">
      <li>
        <a (click)="scrollToAbout()">About</a>
      </li>
    </ul>
  </nav>
  <div class="elements">
    <div class="title-text">
      <app-curved-text text="Polymoly" [fontSize]="128"></app-curved-text>
    </div>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
    <button (click)="scrollToDecks()">Let's start</button>
  </div>
  <img
    class="home-page-end-line"
    src="../assets/home-page-end-line.svg"
    alt="home-page-end-line"
  />
  <img
    class="home-page-end-blob"
    src="../assets/home-page-end.svg"
    alt="home-page-end"
  />
</section>
<section id="card-decks" class="card-decks">
  <div class="title">
    <h2>Let's shuffle things up a bit!</h2>
    <h1>Choose your weapon of choice</h1>
    <div class="decks">
      <a routerLink="/play"><button>moveToCard</button></a>
    </div>
  </div>
</section>
<section id="about" class="about">
  <img
    class="about-page-start-blob"
    src="../assets/about-page-start.svg"
    alt="about-page-start"
  />
  <h1>About</h1>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. <br /><br />Lorem Ipsum is simply dummy text of
    the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a
    galley of type and scrambled it to make a type specimen book.
    <br /><br />Lorem Ipsum is simply dummy text of the printing and typesetting
    industry.
  </p>
</section>
<app-draw-card></app-draw-card>
