h1 {
  font-family: "Furore", sans-serif;
  color: #fdef6d;
  font-size: 128px;
  letter-spacing: 6px;
  border: 2px;
  stroke: #e8ec3a;
  stroke-width: 1px;
  -webkit-text-shadow: 6px 6px 24px #dc4ddd;
  text-shadow: 6px 6px 24px #dc4ddd;
}

h2 {
  font-family: "Furore", sans-serif;
  font-size: 128px;
  text-shadow: 4px 4px 24px #dc4ddd;
  color: #fdef6d;
}

h3 {
  font-size: 48px;
  color: #d54bd6;
  text-shadow: 4px 4px 24px #d54bd6;
}

h4 {
  font-family: Andale Mono, AndaleMono, monospace;
  font-size: 24px;
}

p {
  font-family: Andale Mono, AndaleMono, monospace;
  font-size: 24px;
  text-align: center;
  color: #f5f5f5;
}

.primary-button {
  background: #dc4ddd;
  box-shadow: 4px 4px 24px #dc4ddd;
  border: 0;
  border-radius: 12px;
  padding: 16px 32px;

  font-family: "Furore", sans-serif;
  font-size: 24px;

  color: #fdef6d;
  transition: 0.1s;

  &:hover {
    cursor: pointer;
  }
}

.navbar {
  position: absolute;
  right: 3.5rem;
  top: 3.5rem;

  ul {
    list-style-type: none;
    margin: 0;
  }

  a {
    font-size: 32px;
    color: #fdef6d;
    cursor: pointer;
  }
}

.introduction {
  padding: 13rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.introduction__title {
  margin: 0;
}

.introduction__text {
  max-width: 880px;
  margin: 0;
}

.card-decks {
  background-color: #fdef6d;
  padding: 64px 144px;
}

.content__slogan {
  margin-top: 0px;
  margin-bottom: 16px;
}

.content__choose-title {
  margin-top: 0px;
  margin-bottom: 72px;
}

.decks {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1560px) {
  .decks {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;
  }
}

.deck {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.deck__select {
  margin: 0 96px;
}

.deck__select--unavailable {
  background-color: #8d55d6;
  box-shadow: 4px 4px 24px #8d55d6;

  &:hover {
    cursor: default;
  }
}

.about {
  padding: 64px 144px;
}

.about__title {
  margin: 0;
  margin-bottom: 56px;
}

.about__text {
  margin: 0;
  max-width: 880px;
  text-align: left;
}
